- if @quotas.present?
  #quota
    .global_indicator

    %table.details
      - @quotas.each do |quota|
        %tr{ :id => "#{quota.name}"}
          %td= quota.name
          %td
            %div{ :class => "indicator #{quota.status}" }
          %td= "#{quota.usage} / #{quota.limit} #{quota.unit}"
